/* CONFIG */

:root{
    --textcolor: #373737;
    --textcolor2: #6C6C6C;
    --bgcolor: #f5f5f5;
    --primaria: #53F2C7;
    --secundaria: #1492E6;
    --textorodape: #707070;
    --veterinaria: #F97171;
    --bcc: #9BE2FC;
    --engalimentos: #FFCA61;
    --pedagogia: #FBEE3F;
    --zootec: #D693F2;
    --letras: #FC9BEF;
    --agronomia: #7CEF90;
}

/* X CONFIG X */

/* CUSTOM */
body, html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header{
    width: 100%;
    background-color: transparent;
    transition: background ease-out 0.2s;
}

#header .navbar-collapse{
    width: auto;
}

#header .nav-link{
    font-size: 13px;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
    color: var(--textcolor2);
    border-bottom: solid 3px transparent;
    
}

#header .nav-link:hover{
    border-bottom: solid 3px #a5a5a5;
}

#header .active{
    border-bottom: solid 3px var(--textcolor);

}

.fundo{
    background-color: var(--bgcolor);
}

.data{
    color: var(--secundaria);
    font-size: 25px;
    font-weight: 600;
    border-bottom: solid 2px #f5f5f5;
    padding-bottom: 7px;
}

.redirecionamento{
    color: var(--secundaria);
    font-weight: 600;
}

.legenda{
    color: black;
    font-weight: 600;
}

.titulo{
    color: var(--textcolor);
    font-size: 37px;
    font-weight: 600;
}

.tituloBorda{
    border-bottom: solid 3px var(--textcolor);
    padding-bottom: 6px;
}

.caixa{
    border-radius: 0.5rem;
    background-color: white;
}

.textoRodape{
    color: var(--textorodape);
    font-size: 15px;
    font-weight: 500;
}

.textoagronomia{
    color: var(--agronomia);
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.textobcc{
    color: var(--bcc);
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.textoeng{
    color: var(--engalimentos);
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.textovet{
    color: var(--veterinaria);
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.textozoo{
    color: var(--zootec);
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.textopedagogia{
    color: var(--pedagogia);
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.textoletras{
    color: var(--letras);
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.subtitulo{
    color: var(--textcolor2);
    font-size: 13px;
    margin-top: 30px;
}

.subtitulo2{
    color: var(--textcolor2);
    font-size: 13px;
}

.cabecalho{
    background-color: var(--primaria);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.corpo{
    background-color: white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.tituloTabelas{
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.img-card-data {
    display: inline-block;
}

/* X CUSTOM X */

/* CUSTOM 2 */

body, html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header{
    width: 100%;
    background-color: transparent;
    transition: background ease-out 0.2s;
}

#header .navbar-collapse{
    width: auto;
}

#header .nav-link{
    font-size: 13px;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
    color: var(--textcolor2);
    border-bottom: solid 3px transparent;
    
}

#header .nav-link:hover{
    border-bottom: solid 3px var(--textcolor);

}

.fundo{
    background-color: var(--bgcolor);
}

.data{
    color: var(--secundaria);
    font-size: 23px;
    font-weight: 600;
    border-bottom: solid 2px #f5f5f5;
    padding-bottom: 7px;
}

.redirecionamento{
    color: var(--secundaria);
    font-weight: 600;

}

.legenda{
    color: black;
    font-weight: 600;
}

.titulo{
    color: var(--textcolor);
    font-size: 37px;
    font-weight: 600;
}

.tituloBorda{
    border-bottom: solid 3px var(--textcolor);
    padding-bottom: 6px;
}

.caixa{
    border-radius: 0.5rem;
    background-color: white;
}

.textoRodape{
    color: var(--textorodape);
    font-size: 15px;
    font-weight: 500;
}

.textoagronomia{
    color: var(--agronomia);
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.textobcc{
    color: var(--bcc);
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.textoeng{
    color: var(--engalimentos);
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.textovet{
    color: var(--veterinaria);
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.textozoo{
    color: var(--zootec);
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.textopedagogia{
    color: var(--pedagogia);
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.textoletras{
    color: var(--letras);
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.subtitulo{
    color: var(--textcolor2);
    font-size: 13px;
    margin-top: 30px;
}

.subtitulo2{
    color: var(--textcolor2);
    font-size: 13px;
}

.cabecalho{
    background-color: var(--primaria);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.corpo{
    background-color: white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.tituloTabelas{
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.botao{
    background-color: var(--secundaria);
    border-radius: 00.5rem;
    color: white;
    font-weight: 600;
}

.fundo2{
    background-color: var(--bgcolor);
    padding-top: 90px;
    padding-bottom: 90px;
}

.tituloLista{
    color: black;
    font-weight: 600;
    font-size: 16px;
}

.destaqueLista{
    color: black;
    font-weight: 700;
    font-size: 16px;
}

.link{
    color: var(--secundaria);
    font-size: 13px;
}

.listagemLista{
    border-bottom:solid 2px #f5f5f5;
}

.datinha{
    color: var(--textorodape);
    font-size: 13px;
    font-weight: 600;
}

.subtexto{
    color: var(--textorodape);
    font-size: 13px;
}

.textoInput{
    color: black;
    font-size: 14px;
}

.checkbox{
    color: var(--textorodape);
    font-size: 13px;
}

.caixaDeTexto{
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    border: 1px solid transparent;
}

.botaoEntrar{
    background-color: var(--secundaria);
    size: 100%;
    color: white;
    font-weight: 600;
    font-size: 17px;
    border-radius: 0.5rem;
}

.tituloEntrada{
    font-size: 30px;
    color: var(--primaria);
    font-weight: 700;
}

.textoEntrada{
    font-size: 18px;
    color: var(--textcolor);
    font-weight: 600;
}

/* X CUSTOM 2 X */
